<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                NodeJS, PostgreSQL, ASP.NET
            </p>
            <p class="text-primary cabecera">
                Experiencia
            </p>
            <ul>
                <li>Web APIs</li>
                <li>Micro servicios</li>
                <li>Entity Framework Core</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                React, Blazor
            </p>
            <p class="text-primary cabecera">
                Experiencia
            </p>
            <ul>
                <li>React hook</li>
                <li>React routes</li>
                <li>Markdown</li>
            </ul>
        </div>
    </div>
</div>