@{
    ViewData["Title"] = "Home Page";
}

@*variable que recibe la vista (model en minúscula)*@
@model string

<div class="text-center">
    @*accediendo al dato (Model en mayúscula)*@
    <h1 class="display-4">@Model</h1>
    <h2>Soy un desarrollador full stack en Javascript</h2>

    <img src="~/imagenes/foto.jpg" alt="foto Rodrigo" id="foto"/>
</div>
