@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rodrigo Quezada Candia</h1>
    <h2>Desarrollador full stack en Javascript</h2>

    <img src="~/imagenes/foto.jpg" alt="foto Rodrigo" id="foto"/>
</div>

<div class="row">
    <div class="col text-center img-fluid">
        <img id="img-donet" src="~/imagenes/net.png" alt="logo donet" />
    </div>

    <div class="col text-center img-fluid">
        <img id="img-js" src="~/imagenes/js.png" alt="logo js" />
    </div>
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Soy Desarrollador Full Stack en Javascript además de autodidacta y amante de la tecnología. Llegué al mundo
            del TI porque me gustan los desafíos, el trabajo en equipo y aprender de los demás. Me gusta el área de los
            video juegos, soy jugador y ademas soy programador de video juegos en Unity.
        </p>
    </div>
</div>

<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                NodeJS, PostgreSQL, ASP.NET
            </p>
            <p class="text-primary cabecera">
                Experiencia
            </p>
            <ul>
                <li>Web APIs</li>
                <li>Micro servicios</li>
                <li>Entity Framework Core</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                React, Blazor
            </p>
            <p class="text-primary cabecera">
                Experiencia
            </p>
            <ul>
                <li>React hook</li>
                <li>React routes</li>
                <li>Markdown</li>
            </ul>
        </div>
    </div>
</div>