@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rodrigo Quezada Candia</h1>
    <h2>Soy un desarrollador full stack en Javascript</h2>

    <img src="~/imagenes/foto.jpg" alt="foto Rodrigo" style="width: 200px; margin: 2rem 0; border-radius: 50%"/>
</div>
